*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Dosis', sans-serif;
}

header{
    width: 100%;
    height: 100px;
    /* background-color: #fdfdfd;    */
    background-color: #000000;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);  
}

.logo{
    width: 90px;
    height: 90px;
    margin: 5px;
}

nav{
  display: flex; 
  justify-content: center;
}

.menu{
width: 40px;
height: 40px;
background-color: #121212;
margin: 5px;
padding: 3px;
border-radius: 50%;
font-size: 7px;
line-height: 26px;
text-transform: uppercase;
text-align: center;
box-shadow: 0 10px 15px rgba(102, 102, 102, 0.1);
display: flex;
flex-direction: column;
align-items: center;

}

.menu:hover{
opacity: 0.5;
-moz-opacity: 0.5;
}

.menu a{
color: #fff;
text-decoration: none;
padding: 2px 2px 2px 0;
}

.titulo{
  opacity: 1;
  color: #6e6d6d;  

}

.titulo:hover{
  transform: scale(1);
  transition-delay: 0.25s;
  opacity: 1;
  color: #fff;
}

.datos{ 
  font-size: 0;
}

.grid{
    display: grid;
    height: 100vh;
    background-color: #121212;
    grid-template-columns: 100%;
    grid-template-rows: 180px auto 19% 12%;
    grid-template-areas: 
    "aside"
    "main"
    "suscripcion"
    "footer";
}

.aside{ 
    grid-area: aside;
    width: 100%;
    background-color: #232323;
}

.main{  
    grid-area: main;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.pic1{
    width: 100%;   
}

.item{
    background-color: #151515;
    width: 98%;  
    height: 110px;
    color: #f9f9f9;
    margin: 5px;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foto{
    width: 20%;
    height: 80%;
    border: 1px solid grey;
    border-radius: 5px;
}

.nombre{
    font-size: x-small;
    font-weight: bold;
    margin-left: 10px;
}
  
.descrip{   
    font-size: xx-small;
}

.precio{
  text-align: end;
  color: #3380b0;
  font-weight: bold;
  font-size: x-small;
}

.agregar {
    width: 42px;
    height: 20px;
    padding: 3px;
    background-color: #e1762f; 
    color: #ffffff; 
    font-size: xx-small;
    border: none;
    border-radius: 10px;
}

.suscripcion{
    width: 100%;
    grid-area: suscripcion;
    background-color: #0f0f0f;   
}
 
  .formulario-suscripcion h2 {
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: small;
    text-align: center;
    color: #dddddd;
}
  
  .formulario-suscripcion form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}

  .name{
    width: 300px;
    height: 20px;
    text-align: center;
}
  
  .phone{
    width: 300px;
    height: 20px;
    text-align: center;
}
  
  .mail{
    width: 300px;
    height: 20px;
    text-align: center;
}
  
  .formulario-suscripcion button[type="submit"] {
    width: 120px;
    align-self: center;
    padding: 5px;
    background-color: #ed7a32;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 4px;
    font-weight: 900;
}
  
   .footer {
    width: 100%;
    margin-bottom: 20px;
    grid-area: footer;
    background-color: #000000;
} 

  .datos-contacto p {
    margin: 0;
    font-size: medium;
    font-weight: bold;
    margin: 3px;
    text-align: center;
    color: #ffffff;
}
  
  .copyright {
    text-align: center;
    color: #ffffff;
    font-size: x-small;
}



@media (min-width: 1024px) {

header{
    width: 100%;
    height: 160px;
    /* background-color: #fdfdfd;    */
    background-color: #1c1c1c;    
    display: flex;
    justify-content: space-between ;
    align-items: center;
    position: fixed;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.grid {
		
    grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: 100px auto 90px 100px;
		grid-template-areas:
			"aside main main main"
			"aside main main main"
      "suscripcion suscripcion suscripcion suscripcion"
			"footer footer footer footer";
}

  .logo{
    width: 120px;
    height: 120px;
    margin: 15px;
 
}

nav{
  display: flex; 
  justify-content: center;
}

.menu{
width: 60px;
height: 60px;
background-color: #1c1c1c;
margin: 20px;
padding: 10px;
border-radius: 50%;
font-size: 10px;
font-weight: bold;
line-height: 32px;
text-transform: uppercase;
text-align: center;
box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
display: flex;
flex-direction: column;
align-items: center;

}

.menu:hover{
opacity: 0.5;
-moz-opacity: 0.5;

}

.menu a{
color: #fff;
text-decoration: none;
padding: 5px 5px 5px 0;
}

.titulo{
opacity: 1;
color: #5e5e5e;  

}

.titulo:hover{
transform: scale(1);
transition-delay: 0.25s;
opacity: 1;
color: #fff;
}

  .datos{
    color: #c5c5c5;
    width: 200px;
    height: 60px;
    font-size: small;
    margin-right: 10px;
    text-align: center;
  }

  .aside{ 
    grid-area: aside;
    width: 100%;
    margin-top: 160px;
    background-color: #6b6b66;
  }

  h1{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: xx-large;
    text-align: center;
    font-family: 'Dosis';
    font-weight: bold;
    /* text-shadow: 1px 5px 4px #fcfcfb; */
}

  .main{
    margin-top: 160px;
    grid-area: main;
    background-color: #767863;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

  .pic1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: start; 
}

  .item{
    background-color: #fffffc;
    width: 20%;  
    height: 250px;
    color: rgb(5, 5, 5);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

  .foto{
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 5px;
}

  .nombre{
    font-size: medium;
    font-weight: bold;
    align-self: start;
}

  .descrip{   
    font-size: x-small;
    align-self: start;
    
}

  .precio{
    align-self: end;
    text-align: end;
    color: #15608f;
    font-weight: bold;
    font-size: medium;
    margin-right: 5px;
    
}

  .agregar {
    width: 70px;
    height: 25px;
    padding: 5px 6px;
    background-color: #ec8c4d; 
    color: #ffffff; 
    font-size: x-small;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    align-self: end;
    margin-right: 5px;
}

  .suscripcion{
    width: 100%;
    grid-area: suscripcion;
    background-color: #575555;
}

  .footer {
    width: 100%;
    margin-bottom: 20px;
    grid-area: footer;
    background-color: #121111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff
} 

  .formulario-suscripcion h2 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: medium;
    text-align: center;
}

  .formulario-suscripcion form {
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: space-evenly;
}

  .name{
    width: 250px;
    height: 30px;
    text-align: start;
}

  .phone{
    width: 200px;
    height: 30px;
    text-align: start;
}

  .mail{
    width: 300px;
    height: 30px;
    text-align: start;  
}

  .formulario-suscripcion button[type="submit"] {
    width: 120px;
    align-self: center;
    padding: 5px;
    background-color: #ed7a32;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 4px;
    font-weight: 900;
}

  .datos-contacto p {
    margin: 0;
    font-size: medium;
    font-weight: bold;
    margin: 3px;
    text-align: center;
}

  .copyright {
    text-align: center;
    color: #fff;
    font-size: x-small;
}

}

